<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="./../css/main.css">
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col s12">
                <h2 class="center-align"> Mods installer</h2>
            </div>
            <div class="col s12">
                <p>
                    Bienvenidos al maldito instalador de mods para el mundo de Eshuu! en minecraft
                    eso es llegandose, entonces le das el maldito boton que estaba abajo y si dios quiere
                    se intstalan todos los mods <b>recuerden instalar el launcher</b> para los mods para y leer la guia
                    en el repositorio de eshu.
                </p>
                <br><br>
                <div id="progress"></div>
                <br>
                <div class="center">
                    <button id="install" class="btn waves-effect waves-light btn-large same-width tooltipped"
                        data-position="bottom" data-tooltip="Instala/Actualiza los mods actuales">
                        Instalar / Actualizar
                    </button>
                    <br><br>
                    <button id="cleanInstall" class="btn waves-effect waves-light btn-large same-width tooltipped"
                        data-position="bottom" data-tooltip="Borrar todos los mods instalados y re-instalar">
                        Reestablecer Instalacion
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="./../scripts/index.js">
    </script>
</body>

</html>